<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <video src="Record_2022_01_17_19_41_02_259.mp4"></video> -->
    <a download="" href="www.google.com">googlr</a>
    <video src="https://scontent-bom1-2.cdninstagram.com/v/t50.2886-16/273367917_339045108127545_1017935771550711677_n.mp4?_nc_ht=scontent-bom1-2.cdninstagram.com&_nc_cat=109&_nc_ohc=HYnNgKbKO9IAX-CE9u4&tn=--5RW89UfMqIyRNl&edm=APfKNqwBAAAA&ccb=7-4&oe=6203646D&oh=00_AT_kLn9ipqPOybUJv2MkTkrlF81KkhrmPITZAewJb7-cOA&_nc_sid=74f7ba"></video>
    <a download="" href="https://scontent-bom1-2.cdninstagram.com/v/t50.2886-16/273367917_339045108127545_1017935771550711677_n.mp4?_nc_ht=scontent-bom1-2.cdninstagram.com&_nc_cat=109&_nc_ohc=HYnNgKbKO9IAX-CE9u4&tn=--5RW89UfMqIyRNl&edm=APfKNqwBAAAA&ccb=7-4&oe=6203646D&oh=00_AT_kLn9ipqPOybUJv2MkTkrlF81KkhrmPITZAewJb7-cOA&_nc_sid=74f7ba">click me</a>
</body>
</html>